@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .clip-diagonal {
      clip-path: polygon(0 0, 100% 0, 100% 70%, 0 50%);
    }
    .clip-diagonal-flipped {
      clip-path: polygon(0 50%, 100% 70%, 100% 100%, 0 100%);
    }
  }
  
  @layer utilities {
    .clip-diagonal-top {
      clip-path: polygon(  0 90%, 100% 0%, 100% 100%, 0 100%);
    }
    .clip-diagonal-bottom {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  }
  
:root {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
